{% extends "index.html.twig" %}
{% block container %}
    <div class="row row-login" >
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h1 class="text-center">360 imagine</h1>
            <div class="well">
                <h3 class="text-danger">Template {{operation}}.<br> {{extraTitle}}   </h3>

                <form method="post"  action="/admin/template/{{url}}" enctype="multipart/form-data">

                    {% if id >0 %}

                        <div class="form-group">
                            <label class="control-label">Template ID </label>
                            <input class="form-control" type="text" name="id" value="{{id}}">
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="control-label">Name </label>
                        <input class="form-control" type="text" name="name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">ID Question 1 </label>
                        <input class="form-control" type="text" name="idquestion1" value="{{idquestion1}}">
                    </div>
                     <div class="form-group">
                        <label class="control-label">Question 1 </label>
                        <input class="form-control" type="text" name="question1" value="{{question1}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">ID Question 2 </label>
                        <input class="form-control" type="text" name="idquestion2" value="{{idquestion2}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Question 2</label>
                        <input class="form-control" type="text" name="question2" value="{{question2}}">
                    </div>
                    
                    <button class="btn btn-success btn-block" type="submit"> {{operation}} </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}{# empty Twig template #}