{% extends "index.html.twig" %}
{% block container %}
    <div class="row row-login" >
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h1 class="text-center">360 imagine</h1>
            <div class="well">
                <h3 class="text-danger">Template {{operation}}.<br> {{extraTitle}}   </h3>

                <form method="post"  action="/admin/template/{{url}}" enctype="multipart/form-data">

                    {% if id >0 %}

                        <div class="form-group">
                            <label class="control-label">Template ID </label>
                            <input class="form-control" type="number " name="id" value="{{id}}" required
                                   {% if ((operation == "Delete") or (operation == "Update")
                                        or (operation == "Select"))
                                   %} 
                                   readonly
                            {%endif%}


                            >
                    </div>
                    {% endif %}

                        <div class="form-group">
                            <label class="control-label">Name </label>
                            <input class="form-control" type="text" name="name" value="{{name}}"
                                   
                                   {% if ((operation == "Delete") or (operation == "Update")
                                        or (operation == "Select"))
                                   %} 
                                   readonly
                            {%endif%}
                                   
                                   >
                        </div>
                        <div class="form-group">
                            <label class="control-label">ID Question 1 </label>
                            <input class="form-control" type="number" name="idquestion1" value="{{idquestion1}}" required readonly>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Question 1 </label>
                            <input class="form-control" type="text" name="question1" value="{{question1}}" required readonly>
                        </div>
                        <div class="form-group">
                            <label class="control-label">ID Question 2 </label>
                            <input class="form-control" type="number" name="idquestion2" value="{{idquestion2}}" required readonly>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Question 2</label>
                            <input class="form-control" type="text" name="question2" value="{{question2}}" required readonly>
                        </div>

                        <button class="btn btn-success btn-block" type="submit" required> {{operation}} </button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}{# empty Twig template #}