

{% extends "index.html.twig" %}
{% block container %}

    <div class="container"> 
        <div class="highlight-blue">
            <div class="container"  style="text-align:center">
                <div class="intro">
                    <form method="post"  action="{{actionUrl}}" enctype="multipart/form-data">
                        <h2 class="text-center" style="color: white ">{{mainTitle}} {{title}} </h2>
                        <input style="max-width: 50px" type="number" name="id" value="{{id}}" required readonly>
                        {%if action != "Select" %}
                        <button style="display: inline" class="btn btn-primary" type="submit" required> {{action}} </button>
                        {% endif%}
                        <div style="display: inline" class="buttons"><a class="btn btn-primary" role="butt  on" href="{{goBack}}">Go Back</a></div>

                        <p style="font-size: 40; color: white" class="text-center">

                            <font  size=5>
                        <pre>
                            {{textToDisplay}} 
                        </pre>                                                                                                                                                         
                        </font>
                        </p>       
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}