{% extends "master.html.twig" %}

{% block title %}TO do List{% endblock %}

{% block content %}

    <table>
        <tr>
            <td>Task Id</td>
            <td>ownerId</td>
            <td>task</td>
            <td>dueDate</td>
            <td>isDone</td>
        </tr>
        {% for item in todoList %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.ownerId }}</td>
                <td>{{ item.task }}</td>
                <td>{{ item.dueDate }}</td>
                <td>{{ item.isDone }}</td>
                <td> <form method="post">
                        <input type="submit" value="Delete{{ item.id }}">
                    </form> </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Click to continue to the website</a>.</p>
<a href="/add">Click to Add to do list</a>.</p>


{% endblock content %}
